ruby-test
GLOBAL_TASK_12-31_04.md
TASK_12-13.md
TASK_FRONTEND.md
.idea
.sixth
.env
.env.example
.env.prod
.env.local
projects
.github/*
!.github/workflows
!.github/workflows/**
.playwright-mcp/
opencode
docs\hive-mind
PLAN_FIX.md
docs\compose\plans
docs\promts
DAY_PROBLEMS_AND_SOLUTION.md
ci-logs/
backend/server.exe
frontend/web/tsconfig.tsbuildinfo